/node_modules
/Modules/**/node_modules
/Modules/**/vendor

/public/hot
/public/storage
/storage/*.key
/vendor

/.idea
/.vscode
/.vagrant

/public/css/app.css
/public/css/app.css.map
/public/css/superadmin.css
/public/js/playground.js
/public/js/playground.js.map
/public/js/app.js
/public/js/app.js.map
/public/js/manifest.js
/public/js/manifest.js.map
/public/js/products-pagination.js
/public/js/products-pagination.js.map
/public/js/mobile-products-pagination.js
/public/js/mobile-products-pagination.js.map
/public/js/vendor.js
/public/js/vendor.js.map
/public/fonts/vendor/*

mix-manifest.json
Homestead.json
Homestead.yaml
npm-debug.log
phpunit.xml
yarn-error.log

.env
.phpunit.result.cache
.DS_Store
